@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:rgb(26, 21, 21);
    background-image:url('page.jpg');
    background-repeat: no-repeat;
    font-family:"Limelight", sans-serif;
    background-size: cover;
    

}

.title{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 70px;
}

.advice-slip{
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    text-align:center;
    flex-wrap: wrap;
    padding-left:550px;
    padding-right:600px;
    padding-top:300px;
    padding-bottom: 50px;
}

p{
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
}

h1 {
    font-size: 72px;
    background-image: linear-gradient(45deg, #a80077, #66ff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top:1px;
    width:100%;

}

.button1 {
    background-color: white;
    color: rgb(31, 29, 29);
    background-color: inherit;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: underline;
    color:blueviolet;
}

@media screen and (max-width:420px) {
    .title{
        font-size:40px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    body{
        background-image: url("mountain.jpg");
        background-image: cover;
        background-repeat: no-repeat;
        color:white;
       
    }

    p{
        font-size:15px;
        color:red;
    }
    .advice{
        position:absolute;
        font-size: 30px;
        margin-right:865px;
        width:100%;
        margin-top:250px;
        padding-left:150px;
    }

    .advice-slip{
        border-style: none;
        color:#ac5085;
        padding-top:100px;
    }

    h2{
        display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .button{
       
        margin-bottom: 500px;
        margin-top:300px;
        color:rgb(212, 177, 177);
    }
}